.contact-box {
  margin: 2rem;
}

.contact-text {
  color: #fff;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contacts {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin: 3rem 10rem;
}
img {
  max-width: 100%;
  height: auto;
  margin-right: 0.3rem;
}

.contactButton a {
  color: white;
  text-decoration: none; /* Optional: to remove the underline */
}

@media (max-width: 768px) {
  .contacts {
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem 2rem;
  }
}
